# environment variables
.astro/
/public/*
!/public/assets
/src/bloc/zenith.js
/src/pages/\[language\]/zyxw
/src/theme/**/*.css
/src/theme/**/*.less
/src/theme/**/*.js
/src/theme/**/*.jsx
/src/theme/**/*.ts
/src/theme/**/*.tsx
/maintenance.cjs
/TODO.md


# miscellaneous
# IDE: ignore local development directory & file except the configuration files
.DS_Store*
ehthumbs.db
Thumbs.db
desktop.ini
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.lnk
*.pem
*.tsbuildinfo
*.backup
*.backup.*
*.ignore
*.ignore.*
.npm
.eslintcache
.stylelintcache
!/.vscode
/.vscode/*
!/.vscode/*.json
!/.vscode/spellright.dict
.vscode-test
!.gitkeep
!/.gitignore
!/CHANGELOG.md
/package-lock.json
!/README.md
!/TODO.md
!/meetings.code-workspace
logs
node_modules/
jspm_packages/
vendor/
